*{
  margin: 0px;
  border: 0px;
  padding: 0px;

}
.App{
  text-align: center;
  margin-top: 0px;
}
.Header{
  margin: 0px;
  padding: 0px;
  width: 50vw;
  margin-left: 25vw;
  text-align: justify;
  margin-bottom: 5vh;
}

.Nav-bar{
  background-color: #004181;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px;
}

.Header h2{
  text-align: center;
  margin: 20px;
}
.Heading{
  
}
.Indication-For-textarea{
  margin: 20px;
  
}
.Ingridients-Capture{
  border: 1px solid #004181;
  border-radius: 5px;
}
.Submit-button{
  padding: 12px;
  margin-top: 10px;
  background-color: #004181;
  color: #fff;
}

